.images {
    width: 20%;
    position: relative;
}
.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start ;
}
.item-text{
    font-size: 2rem;
    height: min-content;
}
.item-text .mat-card-title {
	font-size: 42px;
	font-weight: 500;
}
.item-text .mat-card-subtitle{
    font-size: 22px;
}
.heading{
    text-align: center;
}
.item{
    flex-basis: auto;
}
.players{
	flex: 1 0 12%;
	margin: auto;
	padding: 57px;
	max-width: 145px;
}
.child{
    flex-grow: 1;
    text-align: center;
}
#search-box{
	position: absolute;
	right: 20px;
}
.error{
    margin: auto;
    height: 100%;
}
.error .item {
	margin: auto;
	top: 40%;
	position: absolute;
	left: 45%;
	text-align: center;
}